@font-face {
	font-family: 'Aktiv Grotesk Corp';
	src: url('./fonts/AktivGroteskCorp-Light.eot');
	src: local('./fonts/AktivGroteskCorp-Light'), url('./fonts/AktivGroteskCorp-Light.eot?#iefix') format('embedded-opentype'), url('./fonts/AktivGroteskCorp-Light.woff') format('woff'), url('./fonts/AktivGroteskCorp-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Aktiv Grotesk Corp';
	src: url('./fonts/AktivGroteskCorp-Regular.eot');
	src: local('./fonts/AktivGroteskCorp-Regular'), url('./fonts/AktivGroteskCorp-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/AktivGroteskCorp-Regular.woff') format('woff'), url('./fonts/AktivGroteskCorp-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aktiv Grotesk Corp';
	src: url('./fonts/AktivGroteskCorp-Bold.eot');
	src: local('./fonts/AktivGroteskCorp-Bold'), url('./fonts/AktivGroteskCorp-Bold.eot?#iefix') format('embedded-opentype'), url('./fonts/AktivGroteskCorp-Bold.woff') format('woff'), url('./fonts/AktivGroteskCorp-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

body {
	font-family: 'Aktiv Grotesk Corp', sans-serif;
	font-size: 14px;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	line-height: 1.3;
	color: #fff;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5 {
	font-family: 'Aktiv Grotesk Corp', sans-serif;
	font-weight: 600;
}

blockquote {
	border-left: 3px solid #019839;
	padding-left: 20px;
	margin-left: 0;
	color: #999999 !important;
}

blockquote p {
	color: #999999 !important;
}

.grid-container {
	max-width: 1240px;
	width: 100%;
}

/* header */

.header_top {
	padding-top: 15px;
	padding-bottom: 15px;
}

.header_logo {
	display: flex;
	flex-direction: row;
}

.burger {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 15px 15px 0;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo_mobile {
	display: none;
}

.header_menu {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header_menu ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.header_menu ul li a {
	padding: 15px 30px;
	color: #9bafff;
	display: flex;
}

.header_menu ul li a:hover {
	color: #fff;
}

.header_menu ul li span {
	padding: 15px 30px;
	color: #fff;
	display: flex;
}

.header_button {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: right;
}

.header_button a {
	color: #9bafff;
	padding: 15px 0 15px 30px;
}

.header_button a:hover {
	color: #fff;
}
.mobile-ofc {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.mobile-ofc li {
	display: flex;
}
.mobile-ofc li a {
    padding: 20px;
    border-top: 1px solid #2f4496;
    color: #fff;
    width: 100%;
}
.mobile-ofc li a.active {
	background-color: #fff;
	color: #2043CD;
}
.mobile-ofc li:last-child a {
	border-bottom: 1px solid #2f4496;
}
.off-canvas {
	background-color: #0a248a;
}
.myorder_product .owl-nav .owl-prev {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 63px;
    margin-left: -15px;
    display: block!important;
    border: 0px solid black;
	outline: none;
}
.myorder_product .owl-nav .owl-next {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 63px;
    right: -15px;
    display: block!important;
    border: 0px solid black;
    outline: none;
}
.owl-carousel.off {
    display: block;
}
.special__right {
    border-radius: 50%;
    padding: 14px;
    border: 1px solid #eee;
    background-color: #fff;
    background-image: url(img/arrow_sprite.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.special__left {
    border-radius: 50%;
    padding: 14px;
    border: 1px solid #eee;
    background-color: #fff;
    background-image: url(img/arrow_sprite.png);
    background-repeat: no-repeat;
    background-position: -32px 50%;
}
.myorder_product .owl-nav .owl-prev.disabled, .myorder_product .owl-nav .owl-next.disabled {
	display: none!important;
}
/* gradient */

.gradient {
	background: #0a248a;
	/* Old browsers */
	background: -moz-linear-gradient(top, #0a248a 0%, #2043cd 90%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #0a248a 0%, #2043cd 90%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #0a248a 0%, #2043cd 90%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a248a', endColorstr='#2043cd', GradientType=0);
	/* IE6-9 */
}

/* content */

.content {
	min-height: 78vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main_block {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-color: #3456de;
	border-radius: 5px;
	padding: 60px 20px;
	position: relative;
	margin-bottom: 30px;
	min-height: 300px;
}

.main_block h3 {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}

.main_block span {
	color: #b7c5ff;
	min-height: 55px;
}

.main_block a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* breadcrumb */

.breadcrumb {
	margin-top: 40px;
}

.breadcrumb a {
	color: #9bafff;
}

.breadcrumb span {
	color: #9bafff;
}

.breadcrumb img {
	margin-left: 20px;
	margin-right: 20px;
}

/* page */

.product_col span {
	font-weight: 400;
	font-size: 18px;
}
.product_col {
	margin-bottom: 20px;
}
.product_head {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	background-color: #3456DE;
	padding: 22px 30px;
	border-radius: 5px 5px 0 0;
}
.product_title_1, .product_title_3, .product_desc_1, .product_desc_3 {
	width: 25%;
}
.product_title_2, .product_desc_2 {
	width: 50%;
}
.product_desc_3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.product_desc_3 a {
	background-color: #3760FF;
	color: #fff;
	padding: 15px 25px;
	border-radius: 3px;
}
.product_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 18px 30px;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    color: #000;
    align-items: center;
}
.product_desc_3 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.bold {
	font-weight: 600;
}
.title {
	color: #fff;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 40px;
	margin-top: 0;
}

.page_bread .breadcrumb a, .page_bread .breadcrumb span {
	color: #aeb3cb;
}

.page_inner {
	padding-bottom: 100px;
	padding-top: 20px;
	min-height: 680px;
}

.page_inner h1 {
	color: #fff;
}

/* category all */

.page {
	padding-bottom: 100px;
	padding-top: 20px;
	min-height: 800px;
}

.category_name {
	padding-top: 3px;
	padding-right: 15px;
	min-width: 32px;
	display: flex;
}

.category_name span {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}

.category_block {
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}

.category_list ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.category_list ul li {
	display: flex;
}

.category_list ul li a {
	color: #9bafff;
	border-radius: 14px;
	padding: 4px 10px;
	font-size: 14px;
}

.category_list ul li a:hover {
	background-color: #0d237d;
}

/* category single */

.model_list_title ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.cat_single_inner {
	margin: 0;
	border: 1px solid #2b4fdb;
	background: transparent;
	list-style-type: none;
}

.cat_single_inner .tabs-title {
	float: left;
	width: 25%;
	text-align: center;
	border-right: 1px solid #2b4fdb;
	outline: none;
}

.cat_single_inner .tabs-title:last-child {
	border-right: none;
}

.cat_single_inner .tabs-title>a:focus, .cat_single_inner .tabs-title>a[aria-selected=true] {
	background: #2b4fdb;
	color: #fff;
}

.cat_single_inner .tabs-title>a {
	color: #fff;
	outline: none;
}

.cat_single_inner .tabs-title>a:hover {
	background: #2b4fdb;
}

.cat_single_content {
	background: transparent;
	border: none;
	padding: 0;
	padding-top: 30px;
	margin: 0;
	color: #9bafff;
}

.cat_single_content .tabs-panel {
	padding: 0;
	margin: 0;
}

.table-scroll {
	overflow-x: auto;
}

.cat_single_content .tabs-panel table {
	border-spacing: 0;
}

.cat_single_content .model_list table thead tr th {
	text-align: left;
	font-weight: 400;
	color: #fff !important;
}

.cat_single_content .model_list table thead tr th, .cat_single_content .model_list table tbody tr td {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #9bafff;
	border-bottom: 1px solid #2b4fdb;
}

.cat_single_content .model_list table tbody tr:hover td {
	color: #fff;
	cursor: pointer;
}

.cat_single_content .model_list table tbody tr {
	position: relative;
}

.model_url {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* комлект */

.complect_table {
	padding-top: 0;
}

.accordion-item .accordion-content {
	display: none;
}
.desktop_hide {
	display: none;
	font-weight: 600;
}
.accordion li {
	border-bottom: 1px solid transparent;
}

.accordion-title {
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	padding: 20px 40px;
	width: 100%;
	display: flex;
	border: none;
	position: relative;
	background-color: #3456de;
}

.accordion-title::before {
	position: absolute;
	top: 21px;
	left: 1rem;
	margin-top: -0.5rem;
	content: '+';
	font-size: 25px;
}

.accordion li:last-child {
	border-bottom: none;
}

:last-child:not(.is-active)>.accordion-title {
	border-bottom: none;
	border-radius: 0;
}

.is-active>.accordion-title::before {
	content: '\2013';
}

.accordion-content {
	color: #000;
	padding: 15px 30px;
	width: 100%;
	display: flex;
	font-weight: 300;
	font-size: 14px;
	flex-direction: column;
	border: none;
}

.accordion-item.is-active .accordion-content {
	display: flex;
	background-color: #fff;
	color: #808c9e;
}

.complect_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 60px;
}

.complect_block {
	display: flex;
	width: 25%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 60px;
	position: relative;
}

.complect_link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.complect_block img {
	margin-bottom: 15px;
}

/* detale */

.detale_content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #fff;
}
.detale_tabs_title ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
	border-bottom: 1px solid #eee;
}
.detale_tabs_title ul li a {
    padding-top: 23px;
    padding-bottom: 23px;
    display: flex;
	margin-right: 25px;
	color: #808C9E;
	font-size: 14px;
}
.detale_tabs_title ul li a.active {
    border-bottom: 3px solid #2043CD;
	color: #2043CD;
}
.detale_block {
	display: flex;
	align-items: center;
	justify-content: center;
}

.detale_inner {
	border: 1px solid #2b4fdb;
	background-color: transparent;
}

.detale_inner .tabs-title {
	float: none;
	background-color: transparent;
	border-bottom: 1px solid #2b4fdb;
}
.detale_inner li:last-child {
	border-bottom: none;
}
.detale_inner .tabs-title>a:focus, .detale_inner .tabs-title>a[aria-selected=true], .tabs-title>a:hover {
	background-color: #3456de;
	color: #9bafff;
	outline: none;
}

.detale_inner .tabs-title>a {
	color: #9bafff;
	padding: 30px;
	border-bottom: 1px solid #2b4fdb;
	outline: none;
}

.detale_block_title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 84%;
}

.detale_block_title span {
	padding-right: 30px;
	text-transform: uppercase;
	font-size: 13px;
	color: #9CB0FF;
}

.detale_block_title h5 {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	width: 80%;
}

.detale_block_desc {
    display: flex;
    justify-content: flex-end;
    width: 16%;
    align-items: center;
}

.detale_article {
	margin-left: 79px;
	font-size: 14px;
	padding-top: 15px;
}

.detale_price {
	position: absolute;
	right: 0;
	font-size: 14px;
}
.detale_desc_content {
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	width: 100%;
	position: relative;
}
.detale_block_desc1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.detale_block_desc a {
	padding: 14px 22px;
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	background-color: #3760FF;
}

.detale_desc_content:hover {
	background-color: #3760FF;
}
.detale_desc_content:hover .detale_block_desc a{
	background-color: #1534AB;
}
.is-active .detale_desc_content {
	background-color: #3760FF;
}
.is-active .detale_desc_content .detale_block_desc a{
	background-color: #1534AB;
}
.code {
    width: 18%;
}
/* профиль */
.profile_sidebar {
	position: relative;
}
.profile_menu ul li {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.profile_menu ul li a {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    padding: 18px 20px;
    text-align: left;
    border-radius: 4px 0 0 4px;
}
.profile_menu ul li a.active {
    background-image: url(img/profile_block2.png);
    background-repeat: no-repeat;
    width: 300px;
}
.profile_info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.profile_info span {
	color: #9CB0FF;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 15px;
	margin-right: 20px;
}
.profile_input_block {
    width: 33.3333%;
}
.profile_input_block_2 {
	width: 50%;
}
.profile_input_block, .profile_input_block_2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
.profile_input_block label, .profile_input_block_2 label {
	margin-bottom: 10px;
}
.profile_input_block input, .profile_input_block_2 input {
	outline: none;
	padding: 17px 20px;
	color: #9CB0FF;
	background-color: transparent;
	border: 1px solid #2B4FDB;
	border-radius: 3px;
}
.profile_input form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.profile_text {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    display: flex;
}
.profile_text span {
	color: #9CB0FF;
	font-size: 14px;
	margin-top: 50px;
}
.profile_menu {
	border-right: 1px solid #2B4FDB;
}
.profile_submit {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.profile_submit_block {
	display: flex;
	padding-left: 15px;
}
.profile_submit_block input {
    padding: 14px 25px;
    color: #fff;
    background-color: #3760FF;
    border: none;
    border-radius: 4px;
    width: 100%;
}
.profile_submit_block input:hover {
	cursor: pointer;
}
.select2-container--default .select2-selection--single, .select2-results__option {
    background-color: #fff;
    color: #2043CD;
    padding: 17px 20px;
    height: auto;
    border: none;
    outline: none;
    height: 50px;
    border-bottom: 1px solid #eee;
}
.select2-results__option:last-child {
	border-bottom: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #2043CD;
    font-size: 14px;
    line-height: initial;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
    right: 11px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #2043CD transparent transparent transparent;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #2043CD;
	color: #fff;
}
.select2-dropdown {
	border-radius: 4px;
}
.profile_mobile_menu {
    width: 100%;
    margin-bottom: 15px;
    display: none;
    max-width: 100%;
    position: relative;
}
.select2-container {
    max-width: 100%;
}
.breadcrumb_mobile {
	display: none;
}
/* myorder */
.myorder_head {
	background-color: #2B4FDB;
	padding: 23px 30px;
	border-radius: 3px 3px 0 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.myorder_head_block {
	width: 25%;
	display: flex;
	flex-direction: column;
}
.myorder_head_top {
	font-weight: 400;
}
.myorder_head_bottom {
	font-weight: 600;
}
.myorder_content {
	background-color: #fff;
	padding: 30px;
	color: #000;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.myorder_product_desc h2 {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.myorder_meta {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.myorder_count {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 50%;
	font-size: 12px;
}
.myorder_article {
	font-size: 12px;
}
.myorder_count_1 {
	font-weight: 600;
}
.myorder_product_img {
    display: flex;
    width: 30%;
    align-items: center;
    /* justify-content: center; */
}
.myorder_product_block {
    border: 1px solid #eee;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 10px;
}
.myorder_product_desc {
	width: 70%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.myorder_product, .myorder_product_address {
	width: 48%;
}
.myorder_product_address {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.myorder_address_1 {
	font-weight: 600;
	margin-bottom: 15px;
	font-size: 15px;
}
.myorder_address_2 {
	margin-bottom: 30px;
	line-height: 21px;
}
.myorder_button, .myorder_button_2 {
    color: #fff;
    background-color: #2B4FDB;
    padding: 14px 22px;
    border-radius: 3px;
    display: inline-block;
}
.myorder_address_block {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* footer */

footer {
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
}

.copyright {
	display: flex;
	color: #808c9e;
	flex-direction: column;
}

.copyright span {
	margin-bottom: 6px;
}

.copyright a {
	color: #1a3ab9;
}

.privacy {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.privacy a {
	margin-bottom: 6px;
	color: #808c9e;
}

.privacy a:hover {
	color: #1a3ab9;
}
.detale_block_desc img  {
	display: none;
}
.detale_mobile_url {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}
@media screen and (max-width: 1164px) and (min-width: 1024px) {
	.header_menu ul li span, .header_menu ul li a {
		padding: 12px 20px;
	}
	.profile_menu ul li a.active {
	    width: 274px;
	    background-size: contain;
	    padding: 15px 20px;
	}
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
	.header_button a span {
		color: #fff;
		font-size: 14px;
		font-weight: 400;
		margin-right: 10px;
	}
	.profile_input_block {
		width: 100%;
	}
	.profile_mobile_menu {
		display: block;
	}
	.profile_menu {
		display: none;
	}
}

@media (max-width: 768px) {
	.cat_single_inner .tabs-title {
		width: 100%;
	}
	.myorder_product, .myorder_product_address {
		width: 100%;
	}
	.code {
		order: 2;
		width: 25%;
	}
	.detale_block_desc a {
		display: none;
	}
	.myorder_product {
		order: 1;
	}
	.detale_block_desc img, .detale_mobile_url {
		display: flex;
	}
	.detale_block_title {
		flex-direction: row;
		width: 90%;
	}
	.detale_block_desc1 {
	    width: 100%;
	    /* flex-direction: column; */
	    /* flex-flow: wrap; */
	}
	.detale_block_title h5 {
	    order: 1;
	    width: 100%;
		margin-bottom: 10px;
	}
	.detale_desc_content {
		padding: 20px;
	}
	.detale_article {
		order: 2;
	}
	.detale_block_desc2 {
	    width: 50%;
	    align-items: flex-end;
	    display: flex;
	}
	.detale_block_desc {
		width: 10%;
	}
	.breadcrumb {
		display: none;
	}
	.detale_block_title span {
		margin: 0;
		padding: 0;
	}
	.breadcrumb_mobile {
		display: flex;
		padding-top: 15px;
	}
	.breadcrumb_mobile a {
		color: #9CB0FF;
	}
	.breadcrumb_mobile img {
		margin-right: 8px;
	}
	.myorder_product_address {
	    padding-left: 0;
	    margin-bottom: 30px;
		flex-direction: row;
	}
	.myorder_address_block {
	    width: 50%;
	    display: flex;
	    flex-direction: column;
	}
	.desktop_hide {
		display: flex;
	}
	.product_desc_3 {
		width: 100%;
		justify-content: flex-start;
	}
	.product_price {
		width: 50%;
	}
	.myorder_head_block  {
		width: 50%;
		margin-bottom: 15px;
	}
	.product_desc_1, .product_desc_2 {
		margin-bottom: 25px;
		width: 50%;
	}
	.cat_single_inner .tabs-title {
		border-right: 0;
		border-bottom: 1px solid #2b4fdb;
	}
	.cat_single_inner .tabs-title:last-child {
		border-right: 0;
		border-bottom: none;
	}
	.profile_submit_block{
	    width: 50%;
	}
	.breadcrumb {
		margin-top: 0;
	}
	.title {
	    font-size: 16px;
	    font-weight: 600;
	    line-height: 19px;
	    margin-bottom: 20px;
	}
	.complect_block {
		width: 33%;
	}
	.cat_single_content .model_list table thead tr th, .cat_single_content .model_list table tbody tr td {
		padding-right: 15px;
	}
	.content {
		min-height: 100%;
	}
	.product_content {
		border-radius: 5px;
	}
	.header_button a span {
		color: #fff;
		font-size: 14px;
		font-weight: 400;
		margin-right: 10px;
	}
	.privacy, .burger, .profile_menu, .myorder_button, .product_head {
		display: none;
	}
	.profile_mobile_menu {
		display: block;
	}
	.content {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.logo {
		padding-top: 9px;
	}
	.profile_input_block, .profile_input_block_2 {
		width: 100%;
	}
	.profile_info {
		flex-direction: column;
	}
	.profile_info span {
	    font-size: 12px;
	    font-weight: 400;
	    margin-bottom: 5px;
	}
	.profile_input_block, .profile_input_block_2 {
		margin-top: 20px;
	}
	.profile_text span {
		margin-top: 30px;
	}
	.profile_submit_block {
		padding-right: 15px;
	}
}

@media (max-width: 560px) {
	.main_block {
		margin-bottom: 15px;
	}
	.detale_tabs_title ul {
		padding-left: 22px;
		padding-right: 22px;
	}
	.detale_tabs_title ul li a {
		padding-top: 18px;
		padding-bottom: 18px;
		margin-right: 15px;
	}
	.ipad_phone {
		display: none;
	}
	.header_top {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.complect_block {
		width: 50%;
	}
	.myorder_address_block, .myorder_head_block {
	    width: 100%;
	}
	.myorder_head, .myorder_content {
		padding: 20px;
	}
	.myorder_product_block {
		padding: 10px;
	}
	.myorder_product_address, .myorder_address_2 {
		margin-bottom: 20px;
	}
}
